@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2e2e2;
    font-family: "Hind", serif;
}

.pai {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

.box {
    border-radius: 0 70px 0 0;
    background-color: rgb(39, 90, 255);
    width: 50%;
    height: 100%;
    
}

.container-main {
    width: 90%; 
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 3px 3px #949393;
    margin-left: 150px;
}

.container-main form {
    width: 100%;
}

.container-main form label.main-label {
    font-size: 25px;
    
}

.container-main form .main-input {
    margin: 20px 0;
    width: 85%;
    height: 35px;
}

.container-main form .type-user {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 30px;
}

.container-main form .submit-button {
    margin-top: 50px;
    width: 100px;
    height: 40px;
    background-color: rgb(39, 90, 255);
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 120px;
}

.container-main p {
    margin-top: 7px;
    text-align: center;
}

.container-main .change-password {
    text-decoration: none;
    color: #189ac5;
}

.bi.bi-envelope-fill, .bi.bi-incognito {
    color: #949393;
    position: absolute;
    margin-left: -30px;
    margin-top: 27px;
}

/* Responsividade */
@media (max-width: 992px) {
    .pai {
        justify-content: center;
    }

    .box {
        width: 50%;
        margin-right: 0;
        border-radius: 0 30px 0 0;
    }

    .container-main {
        width: 45%;
        margin: 10px;
        margin-right: 50px;
    }
    .bi.bi-envelope-fill, .bi.bi-incognito{
        margin-top: 27px;
    }
    .pai {
        display: flex;
        flex-direction: column;
        align-items: center; /* Alinha itens no centro */
    }
    .container-main form .submit-button {
        margin-top: 20px;
    }
    
    
   
    .login-image {
       margin-bottom: 50px;
        /* Espaçamento opcional entre o formulário e a imagem */
    }

}


@media (max-width: 1339px) {
    .pai {
        justify-content: center;
    }

    .box {
        width: 50%;
        margin-right: 0;
        border-radius: 0 30px 0 0;
    }

    .container-main {
        width: 45%;
        margin: 10px;
        margin-right: 50px;
    }
    .bi.bi-envelope-fill, .bi.bi-incognito{
        margin-top: 27px;
    }
    .pai {
        display: flex;
        flex-direction: column;
        align-items: center; /* Alinha itens no centro */
    }
    .container-main form .submit-button {
        margin-top: 20px;
    }
    
    
   
    .login-image {
       display: none;
    }

}



@media (max-width: 768px) {
    .box {
        display: none;
        
    }

    .container-main {
        width: 60%;
        margin: 0;
        padding: 20px;
    }

    .container-main form .main-input {
        width: 100%;
    }

    .container-main form .type-user {
        
        align-items: center;
        padding: 0;
    }

    .container-main form .submit-button {
        margin-top: 30px;
    }
    .bi.bi-envelope-fill, .bi.bi-incognito{
        margin-top: 27px;
    }
    .login-image{
        display: none;
    }
}

@media (max-width: 480px) {
    .container-main form .main-label {
        font-size: 20px;
    }

    .container-main form .main-input {
        margin: 10px 0;
        height: 30px;
    }

    .container-main form .submit-button {
        width: 90px;
        height: 35px;
    }
    .bi.bi-envelope-fill, .bi.bi-incognito{
        margin-top: 15px;
    }
    .container-main {
        width: 70%; /* Garante que o formulário use a largura disponível */
    }
    .login-image{
        display: none;
    }
}
/* Estilo geral para a imagem e o container */


.login-image {
    display: block;
    max-width: 100%;
    height: auto;
}
div.alert.alert-danger, div.alert.alert-warning, div.alert.alert-primary{
        padding: 10px; 
        margin-top: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}